<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/slider/css/slider.css">
    <link rel="stylesheet" href="close.css">

</head>

<body>
    <div id="app">
        <header>
            <button class="menu__button" v-on:click="showMenu"><i class="menu__icon"></i></button>
            <div class="logo">
                <span>Pizza</span>
                <span>constructor</span>
            </div>
            <nav class='menu'>
                <ul class="menu__wrap">
                    <li class="menu__item">About Us</li>
                    <li class="menu__item">Constructor</li>
                    <li class="menu__item">Contacts</li>
                </ul>
            </nav>
            <nav class="mobile-menu" v-bind:class="{ 'mobile-menu_active': isActive }">
                <div class="mobile-menu__logo">
                    <div class="logo">
                        <span>Pizza</span>
                        <span>constructor</span>
                    </div>
                    <span class="close" v-on:click="showMenu"></span>
                </div>

                <ul class="mobile-menu__wrap">
                    <li class="mobile-menu__item">About Us</li>
                    <li class="mobile-menu__item">Constuctor</li>
                    <li class="mobile-menu__item">Contacts</li>
                </ul>
            </nav>
            <div class="mini-cart">
                <span v-if='cartEmpty'>Cart empty</span>
                <span v-else>{{}}</span>
            </div>
        </header>
        <div class="content">
            <div class="content__slider slider">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        <div class="slider__item">
                            <img src="images/pizza_1.jpg" alt="">
                        </div>
                        <div class="slider__item">
                            <img src="images/pizza_2.jpg" alt="">
                        </div>
                        <div class="slider__item">
                            <img src="images/pizza_3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <a class="slider__control slider__control_prev" href="#" role="button"></a>
                <a class="slider__control slider__control_next slider__control_show" href="#" role="button"></a>
            </div>
            <div class="content__pizza pizza">
                <div class="pizza__products">
                    <div class="pizza__product" v-on:click='addComponent("cheese")'>Cheese</div>
                    <div class="pizza__product" v-on:click='addComponent("becon")'>Becon</div>
                    <div class="pizza__product" v-on:click='addComponent("mushrooms")'>Mushrooms</div>
                </div>
                <div class="pizza__canvas" v-on:load='init'>
                    <canvas id='canvas' v-bind:width="sizeCanvas.width" v-bind:height="sizeCanvas.height"></canvas>
                </div>
                <div class="pizza__components">
                    <ul>
                        <li class='pizza__component' v-for='(item, index) in components' v-bind:key='item.id'
                            v-if='item.name != "testo"'>
                            <span>{{item.name}} - {{item.count}}</span>
                            <button v-on:click='removeComponent(index)'>Delete</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/slider/js/slider.js"></script>
    <script>
        slideShow('.slider', {
            isAutoplay: false,

        });
    </script>
    <script type='module' src="index.js"></script>
</body>

</html>